<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/BaseLayout/index}">
<body>
    <th:block layout:fragment="header">
        <header th:replace="~{/components/Header/index :: header(1)}"></header>
    </th:block>

    <th:block layout:fragment="subheader">
        <div th:replace="~{/components/SubHeader/index :: subheader(${mainLabel}, ${navLabels}, ${activeNavIndex})}"></div>
    </th:block>

    <th:block layout:fragment="button">
        <button style="background-color: inherit; border: none;" id="m_quick_sidebar_toggle" class="m-nav__item">
            <a href="#" class="m-nav__link m-dropdown__toggle">
            <span class="m-nav__link-icon m-nav__link-icon--aside-toggle">
                <span class="m-nav__link-icon-wrapper"><i class="flaticon-grid-menu"></i></span>
            </span>
            </a>
        </button>
    </th:block>

    <th:block layout:fragment="labelDescription" th:text="|Information Of ${group.groupId} Group|"></th:block>

    <th:block layout:fragment="info" th:text="|Information of ${group.groupId} Group|"></th:block>

    <th:block layout:fragment="content">
        <div class="m-widget6">
            <div class="m-widget6__head">
                <div style="display: flex; gap: 16px; padding: 10px 10px;" class="m-widget6__item">
                    <span style="max-width: 200px;" class="m-widget6__caption">
                        Group ID
                    </span>
                    <span style="max-width: 200px;" class="m-widget6__caption">
                        Coordinator Broker
                    </span>
                    <span style="max-width: 200px;" class="m-widget6__caption">
                        State
                    </span>
                </div>
                <div style="padding: 10px 10px; display: flex; gap: 16px; font-weight: 300; padding-top: 10px; align-items: center; overflow-wrap: anywhere;" class="m-widget6__item" m-menu-submenu-toggle="click" aria-haspopup="true">
                    <div th:text="${group.groupId}" style="max-width: 200px;" class="m-widget6__caption">
                    </div>
                    <div style="max-width: 200px; display: block;" class="m-widget6__caption">
                        <div th:text="|ID: ${group.coordinator.id}|" style="padding-bottom: 5px;"></div>
                        <div th:text="|Host: ${group.coordinator.host}:${group.coordinator.port}|" style="padding-bottom: 5px;"></div>
                        <div th:text="|Rack: ${group.coordinator.rack}|" style="padding-bottom: 5px;"></div>
                        <div th:text="|IsFenced: ${group.coordinator.isFenced}|" style="padding-bottom: 5px;"></div>
                        <div th:text="|IsEmpty: ${group.coordinator.isEmpty}|" style="padding-bottom: 5px;"></div>
                    </div>
                    <div th:text="${group.groupState}" style="max-width: 200px;" class="m-widget6__caption">
                    </div>
                </div>
            </div>
            <span style="max-width: 200px; font-weight: 600; font-size: larger;" class="m-widget6__caption">
                Group's Partition
            </span>
            <div id="latest-detail"
                 th:attr="hx-get=@{/group/{groupId}/latest(groupId=${group.groupId})}"
                 hx-trigger="load, every 5s"
                 hx-swap="innerHTML">
            </div>
        </div>

        <div id="m_quick_sidebar" class="m-quick-sidebar m-quick-sidebar--tabbed m-quick-sidebar--skin-light">
            <div class="m-quick-sidebar__content">
                <span id="m_quick_sidebar_close" class="m-quick-sidebar__close"><i class="la la-close"></i></span>
                <ul id="m_quick_sidebar_tabs" class="nav nav-tabs m-tabs m-tabs-line m-tabs-line--brand" role="tablist">
                    <li class="nav-item m-tabs__item">
                        <a class="nav-link m-tabs__link active show" data-toggle="tab" href="#m_quick_sidebar_tabs_messenger" role="tab" aria-selected="true">Messages</a>
                    </li>
                    <li class="nav-item m-tabs__item">
                        <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_quick_sidebar_tabs_settings" role="tab" aria-selected="false">Settings</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active show" id="m_quick_sidebar_tabs_messenger" role="tabpanel">
                        <div class="m-messenger m-messenger--message-arrow m-messenger--skin-light">
                            <div id="parent-div" class="m-messenger__messages m-scrollable m-scroller" style="height: 489px; overflow: auto;">
                            </div>
                            <div class="m-messenger__seperator"></div>
                            <form hx-post="/group/message"
                                  hx-swap="beforeend"
                                  hx-target="#parent-div" class="m-messenger__form">
                                <div style="display: flex;" class="m-messenger__form-controls">
                                    <select name="mode">
                                        <option value="">-- Chọn --</option>
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>loca
                                        
                                    </select>
                                    <input type="number" name="startOffset" placeholder="Start offset here..." class="m-messenger__form-input">
                                    <input type="number" name="endOffset" placeholder="End offset here..." class="m-messenger__form-input">
                                </div>
                                <div class="m-messenger__form-tools">
                                    <button type="submit"
                                            style="border: none;"
                                            class="m-messenger__form-attachment">
                                        <i class="la la-search"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="tab-pane" id="m_quick_sidebar_tabs_settings" role="tabpanel">
                        <div class="m-list-settings m-scrollable m-scroller" style="height: 599px; overflow: auto;">
                            <div class="m-list-settings__group">
                                <div class="m-list-settings__heading">Commited Offset Settings</div>
                                <form hx-post="/group/changeOffset"
                                      hx-swap="none"
                                      style="display: flex; align-items: center; justify-content: start; gap: 16px;" class="m-list-settings__item">
                                    <span class="m-list-settings__item-label">Topic: Notifications</span>
                                    <span class="m-list-settings__item-label">Partition: 1</span>
                                    <label style="padding-top: 5px; font-size: 1rem; font-weight: 400;">
                                        Commited Offset:
                                        <input name="groupId" type="hidden" value="1a3384d8-22c7-4f1d-b489-f9e50ce0e796">
                                        <input name="topic" type="hidden" value="pageviews">
                                        <input name="partition" type="hidden" value="0">
                                        <input name="offset" type="number" />
                                    </label>
                                    <span class="m-list-settings__item-control">
                                    <span class="m-switch m-switch--outline m-switch--icon-check m-switch--brand">
                                        <label>
                                            <button type="submit"
                                                    style="padding: 5px 10px;" class="btn btn-accent m-btn m-btn--air m-btn--custom">Change</button>
                                            <span></span>
                                        </label>
                                    </span>
                                </span>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</body>
</html>