<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/BaseLayout/index}">
<body>
    <th:block layout:fragment="header">
        <header th:replace="~{/components/Header/index :: header(1)}"></header>
    </th:block>

    <th:block layout:fragment="subheader">
        <div th:replace="~{/components/SubHeader/index :: subheader(${mainLabel}, ${navLabels}, ${activeNavIndex})}"></div>
    </th:block>

    <th:block layout:fragment="labelDescription" th:text="|All ${mainLabel}s|"></th:block>

    <th:block layout:fragment="info" th:text="|Information of ${mainLabel} Groups List|"></th:block>

    <th:block layout:fragment="content">
        <div class="m-widget6">
            <div class="m-widget6__head">
                <div style="display: grid; gap: 16px; grid-template-columns: repeat(7, 1fr);" class="m-widget6__item">
                    <span style="width: 100%;" class="m-widget6__caption">
                        Consumer Group ID
                    </span>
                    <span style="width: 100%;" class="m-widget6__caption">
                        Number of Members
                    </span>
                    <span style="width: 100%;" class="m-widget6__caption">
                        Number of Topics
                    </span>
                    <span style="width: 100%;" class="m-widget6__caption">
                        Latest Offset
                    </span>
                    <span style="width: 100%;" class="m-widget6__caption">
                        Messages Behind
                    </span>
                    <span style="width: 100%;" class="m-widget6__caption">
                        Coordinator Broker
                    </span>
                    <span style="width: 100%;" class="m-widget6__caption">
                        State
                    </span>
                </div>
            </div>
            <div class="m-widget6__head">
                <div th:each="group : ${groups}" style="font-weight: 300; padding-top: 10px; display: grid; gap: 16px; grid-template-columns: repeat(7, 1fr); align-items: center;" class="m-widget6__item">
                    <a th:href="@{/group/{groupId}(groupId=${group.consumerGroupId})}" style="text-decoration: none;">
                        <span th:text="${group.consumerGroupId}" style="overflow-wrap: anywhere; max-width: 145px; width: 100%;" class="m-widget6__caption"></span>
                    </a>
                    <a th:href="@{/group/member/{groupId}(groupId=${group.consumerGroupId})}" style="text-decoration: none;">
                        <span th:text="${group.memberNum}" style="padding: auto; width: 100%;" class="m-widget6__caption"></span>
                    </a>
                    <span th:text="${group.topicNum}" style="width: 100%;" class="m-widget6__caption"></span>
                    <span th:text="${group.latestOffset}" style="width: 100%;" class="m-widget6__caption"></span>
                    <span th:text="${group.messageBehind}" style="width: 100%;" class="m-widget6__caption"></span>
                    <span th:text="${group.coordinator}" style="width: 100%;" class="m-widget6__caption"></span>
                    <span th:text="${group.state}" style="width: 100%;" class="m-widget6__caption"></span>
                </div>
            </div>
        </div>
    </th:block>
</body>
</html>