<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/BaseLayout/index}">
<body>
<th:block layout:fragment="header">
    <header th:replace="~{/components/Header/index :: header(0)}"></header>
</th:block>

<th:block layout:fragment="content">
    <button hx-on:click="htmx.toggleClass(htmx.find('#side-bar-menu'), 'hide')"> </button>
    <div id="side-bar-menu">[menu content]</div>
</th:block>

</body>
</html>