<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/BaseLayout/index}">
<body>
<th:block layout:fragment="header">
    <header th:replace="~{/components/Header/index :: header(0)}"></header>
</th:block>

<th:block layout:fragment="content">
    <button hx-on:click="htmx.toggleClass(htmx.find('#side-bar-menu'), 'hide')"> </button>
    <div id="side-bar-menu">[menu content]</div>

    <button id="m_quick_sidebar_toggle" class="m-nav__item">
        <a href="#" class="m-nav__link m-dropdown__toggle">
            <span class="m-nav__link-icon m-nav__link-icon--aside-toggle">
                <span class="m-nav__link-icon-wrapper"><i class="flaticon-grid-menu"></i></span>
            </span>
        </a>
    </button>

    <div id="m_quick_sidebar" class="m-quick-sidebar m-quick-sidebar--tabbed m-quick-sidebar--skin-light m-quick-sidebar--on">
        <div class="m-quick-sidebar__content">
            <span id="m_quick_sidebar_close" class="m-quick-sidebar__close"><i class="la la-close"></i></span>
            <ul id="m_quick_sidebar_tabs" class="nav nav-tabs m-tabs m-tabs-line m-tabs-line--brand" role="tablist">
                <li class="nav-item m-tabs__item">
                    <a class="nav-link m-tabs__link active show" data-toggle="tab" href="#m_quick_sidebar_tabs_messenger" role="tab" aria-selected="true">Messages</a>
                </li>
                <li class="nav-item m-tabs__item">
                    <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_quick_sidebar_tabs_settings" role="tab" aria-selected="false">Settings</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active show" id="m_quick_sidebar_tabs_messenger" role="tabpanel">
                    <div class="m-messenger m-messenger--message-arrow m-messenger--skin-light">
                        <div class="m-messenger__messages m-scrollable m-scroller" style="height: 489px; overflow: auto;">
                            <div class="m-messenger__wrapper">
                                <div class="m-messenger__message m-messenger__message--in">
                                    <div class="m-messenger__message-body">
                                        <div class="m-messenger__message-content">
                                            <div class="m-messenger__message-username">
                                                Notifications-0
                                            </div>
                                            <div class="m-messenger__message-text">
                                                Noted. I will prepare it.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="m-messenger__wrapper">
                                <div class="m-messenger__message m-messenger__message--in">
                                    <div class="m-messenger__message-body">
                                        <div class="m-messenger__message-content">
                                            <div class="m-messenger__message-username">
                                                Notifications-0
                                            </div>
                                            <div class="m-messenger__message-text">
                                                Noted. I will prepare it.dgdfgddddddddddddddddddddddddddddddddddgdfgdfgdfg
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="m-messenger__seperator"></div>
                        <div class="m-messenger__form">
                            <div style="display: flex;" class="m-messenger__form-controls">
                                <input type="text" name="" placeholder="Start offset here..." class="m-messenger__form-input">
                                <input type="text" name="" placeholder="End offset here..." class="m-messenger__form-input">
                            </div>
                            <div class="m-messenger__form-tools">
                                <a href="" class="m-messenger__form-attachment">
                                    <i class="la la-search"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="m_quick_sidebar_tabs_settings" role="tabpanel">
                    <div class="m-list-settings m-scrollable m-scroller" style="height: 599px; overflow: auto;">
                        <div class="m-list-settings__group">
                            <div class="m-list-settings__heading">Commit Offset Settings</div>
                            <div style="display: flex; align-items: center; justify-content: start; gap: 16px;" class="m-list-settings__item">
                                <span class="m-list-settings__item-label">Topic:  Notifications</span>
                                <span class="m-list-settings__item-label">Partition: 1 </span>
                                <label style="padding-top: 5px; font-size: 1rem; font-weight: 400;">
                                    Commited Offset:
                                    <input type="number" />
                                </label>
                                <span class="m-list-settings__item-control">
                                    <span class="m-switch m-switch--outline m-switch--icon-check m-switch--brand">
                                        <label>
                                            <button style="padding: 5px 10px;" class="btn btn-accent m-btn m-btn--air m-btn--custom">Change</button>
                                            <span></span>
                                        </label>
                                    </span>
                                </span>
                            </div>
                            <div style="display: flex; align-items: center; justify-content: start; gap: 16px;" class="m-list-settings__item">
                                <span class="m-list-settings__item-label">Topic:  Notifications</span>
                                <span class="m-list-settings__item-label">Partition: 1 </span>
                                <label style="padding-top: 5px; font-size: 1rem; font-weight: 400;">
                                    Commited Offset:
                                    <input type="number" />
                                </label>
                                <span class="m-list-settings__item-control">
                                    <span class="m-switch m-switch--outline m-switch--icon-check m-switch--brand">
                                        <label>
                                            <button style="padding: 5px 10px;" class="btn btn-accent m-btn m-btn--air m-btn--custom">Change</button>
                                            <span></span>
                                        </label>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>

</body>
</html>