<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/BaseLayout/index}">
<body>
    <th:block layout:fragment="header">
        <header th:replace="~{/components/Header/index :: header(1)}"></header>
    </th:block>

    <th:block layout:fragment="subheader">
        <div th:replace="~{/components/SubHeader/index :: subheader(${mainLabel}, ${navLabels}, ${activeNavIndex})}"></div>
    </th:block>

    <th:block layout:fragment="labelDescription" th:text="|Create new ${mainLabel}|"></th:block>

    <th:block layout:fragment="info" th:text="|Create new ${mainLabel} UI|"></th:block>

    <th:block layout:fragment="content">
        <div x-data="formData()" style="display: grid; grid-template-columns: repeat(2, 1fr);">
            <div class="m-widget6">
                <div class="form-group m-form__group row">
                    <div class="col-10 ml-auto">
                        <h3 class="m-form__section">Create new topic</h3>
                    </div>
                </div>
                <div id="form-container">
                    <form hx-post="/topic/create"
                          hx-target="#form-container"
                          hx-swap="outerHTML"
                          th:object="${topicForm}">
                        <input type="text" name="config" :value="JSON.stringify(list)" />
                        <div class="form-group m-form__group row">
                            <label for="example-text-input" class="col-2 col-form-label">Topic Name</label>
                            <div class="col-7">
                                <input
                                        th:field="*{topicName}" style="width: 300px;" class="form-control m-input" type="text" placeholder="Example 1"/>
                            </div>
                            <div
                                    th:if="${#fields.hasErrors('topicName')}"
                                    th:errors="*{topicName}">Name Error</div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label for="example-text-input" class="col-2 col-form-label">Partition Number</label>
                            <div class="col-7">
                                <input
                                        th:field="*{partitionNum}" type="number" value="1" style="width: 150px;" class="form-control m-input" />
                            </div>
                            <div
                                    th:if="${#fields.hasErrors('partitionNum')}"
                                    th:errors="*{partitionNum}">Name Error</div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label for="example-text-input" class="col-2 col-form-label">Replica Factor Number</label>
                            <div class="col-7">
                                <input
                                        th:field="*{replicaFNum}" type="number" value="1" style="width: 150px;" class="form-control m-input"/>
                            </div>
                            <div
                                    th:if="${#fields.hasErrors('replicaFNum')}"
                                    th:errors="*{replicaFNum}">Name Error</div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label for="example-text-input" class="col-2 col-form-label">List of Topic Config</label>
                            <div class="col-7">
                                <div style="display: flex;">
                                    <select style="width: 200px;" x-model="attribute" class="form-control m-input" id="configKey">
                                        <option value="">Choose Config Attribute</option>
                                        <option th:each="entry : ${configMap}"
                                                th:value="${entry.key}"
                                                th:text="${entry.key}">
                                        </option>
                                    </select>

                                    <select x-model="value" style="width: 200px; margin-left: 10px; margin-right: 10px" class="form-control m-input" id="configValue">
                                        <option value="">Config Value</option>
                                    </select>


                                    <button type="button" @click="add()"
                                            :disabled="isAddDisabled"
                                            :class="{
                                            'bg-gray-400 cursor-not-allowed': isAddDisabled,
                                            'bg-blue-500 hover:bg-blue-600': !isAddDisabled
                                        }" class="btn btn-accent m-btn m-btn--air m-btn--custom">Add</button>
                                </div>
                            </div>
                        </div>
                        <div class="m-portlet__foot m-portlet__foot--fit">
                            <div class="m-form__actions">
                                <div class="row">
                                    <div class="col-2">
                                    </div>
                                    <div class="col-7">
                                        <button type="submit" class="btn btn-accent m-btn m-btn--air m-btn--custom">Create</button>&nbsp;&nbsp;
                                        <button type="reset" class="btn btn-secondary m-btn m-btn--air m-btn--custom">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>

            <div class="col-10 ml-auto">
                <h3 class="m-form__section">Config Added</h3>
                <div style="display: flex;">
                    <span style="flex-wrap: wrap; font-size: medium; border: none; width: 50%; padding: 15px 30px;" class="form-control m-input">Attribute Name</span>
                    <span style="flex-wrap: wrap; font-size: medium; border: none; width: 50%; padding: 15px 30px; margin-left: 10px;" class="form-control m-input">Attribute Value</span>
                </div>
                <div style="min-height: 50px; max-height: 360px; overflow-y: auto; border: 1px solid #ccc; overflow-x: hidden;">
                    <template x-for="(row, index) in list" :key="index">
                        <div @click="remove(row.attribute, row.value)" style="margin-bottom: 10px; display: flex;">
                            <span x-text="row.attribute" style="width: 50%; padding: 15px 30px; word-wrap: break-word;" class="form-control m-input"></span>
                            <span x-text="row.value"  style="width: 50%; padding: 15px 30px; margin-left: 10px; word-wrap: break-word;" class="form-control m-input"></span>
                        </div>
                    </template>
                </div>
            </div>
        </div>
    </th:block>

    <th:block layout:fragment="footer-scripts">
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.15.2/dist/cdn.min.js"></script>
        <script th:inline="javascript">
            function formData() {
                const data = /*[[${configMap}]]*/ {};
                return {
                    map: data,
                    attribute: "",
                    value: "",
                    list: [],

                    add() {
                        if (!this.attribute || !this.value) {
                            alert("Hãy chọn cả 2 combobox!");
                            return;
                        } else if (this.map[this.attribute].includes(this.value)) {
                            if(this.isDuplicate()) {
                                alert("Config đã được thêm trước đó!");
                                return;
                            }

                            this.list.push({
                            attribute: this.attribute,
                            value: this.value
                            });
                            return;
                        }
                        alert("Value không hợp lệ!");
                        return;
                    },

                    isDuplicate() {
                        return this.list.some(
                        item => item.attribute === this.attribute);
                    },

                    remove(key, value) {
                        this.list = this.list.filter(
                        item =>
                            !(item.attribute === key && item.value === value)
                        );
                    },

                    get isAddDisabled() {
                        return !this.attribute
                            || !this.value
                            || !this.map[this.attribute]?.includes(this.value)
                            || this.isDuplicate();
                    }
                }
            }
        </script>
        <script th:inline="javascript">
            const data = [[${configMap}]];

            const keySelect = document.getElementById("configKey");
            const valueSelect = document.getElementById("configValue");

            keySelect.addEventListener("change", () => {
                const values = data[keySelect.value] || [];
                valueSelect.innerHTML = '<option value="">Choose Atrribute Value</option>';

                values.forEach(v => {
                    const option = document.createElement("option");
                    option.value = v;
                    option.textContent = v;
                    valueSelect.appendChild(option);
                });
            });
        </script>
    </th:block>
</body>
</html>