<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/BaseLayout/index}">
<body>
    <th:block layout:fragment="header">
        <header th:replace="~{/components/Header/index :: header(1)}"></header>
    </th:block>

    <th:block layout:fragment="subheader">
        <div th:replace="~{/components/SubHeader/index :: subheader(${mainLabel}, ${navLabels}, ${activeNavIndex})}"></div>
    </th:block>

    <th:block layout:fragment="labelDescription" th:text="|All ${mainLabel}|"></th:block>

    <th:block layout:fragment="info" th:text="|Information of ${mainLabel}|"></th:block>

    <th:block layout:fragment="button">
        <div class="m-portlet__head-tools">
            <input
                    hx-get="/topic/filter"
                    hx-trigger="keyup changed delay:300ms"
                    hx-target="#topic-list"
                    name="keyword"
                    placeholder="Search..."
                    class="p-2 border"
                    style="margin-right: 10px;"
            />
            <ul class="m-portlet__nav">
                <li class="m-portlet__nav-item m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" m-dropdown-toggle="hover" aria-expanded="true">
                    <a th:href="@{/topic/create}" style="text-decoration: none">
                        <span style="padding-left: 5px;">Create New Topic</span>
                    </a>
                </li>
            </ul>
        </div>
    </th:block>

    <th:block layout:fragment="content">
        <div class="m-widget6">
            <div class="m-widget6__head">
                <div style="display: grid; gap: 16px; grid-template-columns: repeat(5, 1fr) 0.5fr;" class="m-widget6__item">
                    <span style="width: 100%;" class="m-widget6__caption">Topic Name</span>
                    <span style="width: 100%;" class="m-widget6__caption">Total Partitions</span>
                    <span style="width: 100%;" class="m-widget6__caption">Out of sync Replicas</span>
                    <span style="width: 100%;" class="m-widget6__caption">Replica Factor Number</span>
                    <span style="width: 100%;" class="m-widget6__caption">Size</span>
                    <span style="width: 100%; padding-left: 10px" class="m-widget6__caption">Action</span>
                </div>
            </div>
            <div id="topic-list" class="m-widget6__head">
                <div th:each="topic : ${topics}" style="font-weight: 300; padding-top: 10px; display: grid; gap: 16px; grid-template-columns: repeat(5, 1fr) 0.5fr; align-items: center; color: #27272f;" class="m-widget6__item">
                    <a th:href="@{/topic/{topicName}(topicName=${topic.topicName})}" style="grid-column: span 5; display: grid; gap: 16px; grid-template-columns: repeat(5, 1fr); text-decoration: none;">
                        <span th:text="${topic.topicName}" style="width: 100%; overflow-wrap: anywhere;" class="m-widget6__caption"></span>
                        <span th:text="${topic.totalPartition}" style="width: 100%;" class="m-widget6__caption"></span>
                        <span th:text="${topic.outISR}" style="width: 100%;" class="m-widget6__caption"></span>
                        <span th:text="${topic.replicaFactorNum}" style="width: 100%;" class="m-widget6__caption"></span>
                        <span style="width: 100%;" class="m-widget6__caption">?? MB</span>
                    </a>
                    <div style="grid-column: span 1;">
                        <div style="width: 100%;" class="m-widget6__caption">
                            <button
                                    th:attr="hx-delete=@{/topic/{name}(name=${topic.topicName})}"
                                    hx-delete="/account"
                                    style="padding: 0.5rem 1rem;"
                                    class="btn m-btn--pill btn-secondary m-btn m-btn--hover-brand m-btn--custom"
                                    hx-confirm="Are you sure you wish to delete the topic?">
                                Delete
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</body>
</html>